 <% if book.errors.any? %>
 <ul>
 	<li>error</li>
 	<% book.errors.full_messages.each do |message| %>
 	<li><%= message %></li>
 	<% end %>
 </ul>
 <% end %>

<%= notice %>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
				<div class="row">
					<h1>User info</h1>
						<%= attachment_image_tag user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
						<table class = "table">
							<tr>
								<th>
									<%= "name" %>
								</th>
								<th>
									<%= user.name %>
								</th>
							</tr>
							<tr>
								<th>
									<%= "introduction" %>
								</th>
								<th>
									<%= user.introduction %>
								</th>
							</tr>
							<tr>
								<th>
									Follows
								</th>
								<th>
									<%= link_to (relationships_path) do %>
									<%= user.followings.count %>
									<%end%>
								</th>
							</tr>
							<tr>
								<th>
									Followers
								</th>
								<th>
									<%= link_to (relationship_path(user)) do %>
									<%= user.followers.count %>
									<%end%>
								</th>
							</tr>
						</table>
						<% if current_user.id == user.id %>
						<%= link_to edit_user_path(user.id) do %>
						<button type="button" class="btn btn-default btn-block">
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						</button>
						<% end %>
						<% else %>
						<% unless current_user == user %>
					  <% if current_user.following?(user) %>
					    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
					      <%= hidden_field_tag :follow_id, user.id %>
					      <%= f.submit 'フォロー外す', class: "btn btn-primary btn-block" %>
					    <% end %>
					  <% else %>
					    <%= form_for(current_user.relationships.build) do |f| %>
					      <%= hidden_field_tag :follow_id, user.id %>
					      <%= f.submit 'フォローする', class: "btn btn-primary btn-block" %>
					    <% end %>
					  <% end %>
					<% end %>
					<%end%>
				</div>

				<div class="row">
					<h1>New book</h1>
					<%= form_for(book) do |f| %>
					<h4>Title</h4>
					<%= f.text_field :title, size: 40 %>
					<h4>Opinion</h4>
					<%= f.text_area :body, size: "39×10" %>
					<%= f.submit "Create Book", class: "btn btn-primary btn-block" %>
					<% end %>
				</div>

		</div>