


    <h1>User info</h1>
 
 <% if @user.errors.any? %>
 <ul>
    <li>error</li>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
 </ul>
 <% end %>



    <%= form_for(@user) do |f| %>
        <div>
            <h2>Name</h2>
            <%= f.text_field :name %>
        </div>

        <div>
        <h2>Image</h2>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>

        <div>
            <h2>Introduction</h2>
            <%= f.text_area :introduction %>
        </div>


        <%= f.submit "Update User" %>

    <% end %>